<a href="https://colab.research.google.com/github/noobiepythonlearner/packages/blob/main/panda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
#to create series
#np.nan is a null value
s=pd.Series([1,2,3,4,5,6,np.nan,7,8,9])
s

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    6.0
6    NaN
7    7.0
8    8.0
9    9.0
dtype: float64

In [ ]:
#to create a dataframe by passing a numpy array with datetime index and label columns
d=pd.date_range('20220101',periods=30)
d

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06', '2022-01-07', '2022-01-08',
               '2022-01-09', '2022-01-10', '2022-01-11', '2022-01-12',
               '2022-01-13', '2022-01-14', '2022-01-15', '2022-01-16',
               '2022-01-17', '2022-01-18', '2022-01-19', '2022-01-20',
               '2022-01-21', '2022-01-22', '2022-01-23', '2022-01-24',
               '2022-01-25', '2022-01-26', '2022-01-27', '2022-01-28',
               '2022-01-29', '2022-01-30'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
#to create a dataframe
#The np.random.randn() function creates an array of specified shape and fills it with random values as per standard normal distribution
#column name with labels A,B,C,D
#index of the dataframe is the d and it contains datetime index
df=pd.DataFrame(np.random.randn(30,4),index=d,columns=["A","B","C","D"])
df

                   A         B         C         D
2022-01-01  0.434359 -2.484118 -0.498010 -2.371913
2022-01-02 -0.804427  0.401298  0.508603  0.739585
2022-01-03  1.175687 -0.773387  0.175561  0.149638
2022-01-04  0.427726 -1.007462  0.393986 -1.025263
2022-01-05  0.820408  0.301781  2.272199 -0.387280
2022-01-06  2.761995  1.478020 -0.251289  0.154520
2022-01-07 -1.627700  0.292623  0.673514  1.173035
2022-01-08 -0.349153  0.677860  1.338427  1.104115
2022-01-09  0.394450  0.514253 -0.926152 -0.267617
2022-01-10  0.168689  1.521266  0.043879 -0.060788
2022-01-11  1.107604 -0.417809 -0.975342 -0.811259
2022-01-12 -1.926877  0.975752  1.362450 -0.939020
2022-01-13  2.594111 -1.117953 -0.954227  1.593168
2022-01-14 -2.003415 -0.708643  0.676054 -0.348783
2022-01-15  1.100547  0.616822  0.411977  0.464966
2022-01-16 -1.676390  0.934588  1.105695  0.202220
2022-01-17 -1.576215 -0.355391  0.149158 -0.233105
2022-01-18 -0.123621  0.435165 -1.027298  0.725250
2022-01-19  0.540851  1.008659 -0.773061 -0.276254
2022-01-20 -1.587708  1.131276  1.498132 -0.832734
2022-01-21  0.563349 -0.990499  0.188505 -0.746989
2022-01-22  1.172076  0.885225 -1.059947  0.065857
2022-01-23  1.167439  0.014554  0.248033  0.642273
2022-01-24  0.144866 -0.524265 -1.261649 -0.579092
2022-01-25  0.436565 -2.155165  1.016837 -0.346676
2022-01-26  0.770021 -1.944593  0.593946 -0.314832
2022-01-27  0.793486 -0.190138  1.537672  0.651175
2022-01-28  2.053121 -0.807080 -0.393295 -0.069388
2022-01-29 -0.659892 -0.634096  0.772412 -0.698804
2022-01-30  1.418903 -0.843709 -0.139416  0.842894

In [ ]:
#create dataframe by passing a dictionary of object and convert into a series
df1=pd.DataFrame({'A':[1,2,3,4],
                  'B':pd.Timestamp('20210928'),
                  'C':pd.Series(1,index=list(range(4)),dtype='float32'),
                  'D':np.array([5]*4,dtype='int32'),
                  'E':pd.Categorical(['true','false','True','False']),
                  'F':'pandas'})                  
                  
                  
                  
df1

   A          B    C  D      E       F
0  1 2021-09-28  1.0  5   true  pandas
1  2 2021-09-28  1.0  5  false  pandas
2  3 2021-09-28  1.0  5   True  pandas
3  4 2021-09-28  1.0  5  False  pandas

In [ ]:
df1.dtypes

A             int64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [ ]:
df1.head()

   A          B    C  D      E       F
0  1 2021-09-28  1.0  5   true  pandas
1  2 2021-09-28  1.0  5  false  pandas
2  3 2021-09-28  1.0  5   True  pandas
3  4 2021-09-28  1.0  5  False  pandas

In [ ]:
df1.tail()

   A          B    C  D      E       F
0  1 2021-09-28  1.0  5   true  pandas
1  2 2021-09-28  1.0  5  false  pandas
2  3 2021-09-28  1.0  5   True  pandas
3  4 2021-09-28  1.0  5  False  pandas

In [ ]:
df.tail()

                   A         B         C         D
2022-01-26  0.770021 -1.944593  0.593946 -0.314832
2022-01-27  0.793486 -0.190138  1.537672  0.651175
2022-01-28  2.053121 -0.807080 -0.393295 -0.069388
2022-01-29 -0.659892 -0.634096  0.772412 -0.698804
2022-01-30  1.418903 -0.843709 -0.139416  0.842894

In [ ]:
#to get the index of the dataframe
df.index

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06', '2022-01-07', '2022-01-08',
               '2022-01-09', '2022-01-10', '2022-01-11', '2022-01-12',
               '2022-01-13', '2022-01-14', '2022-01-15', '2022-01-16',
               '2022-01-17', '2022-01-18', '2022-01-19', '2022-01-20',
               '2022-01-21', '2022-01-22', '2022-01-23', '2022-01-24',
               '2022-01-25', '2022-01-26', '2022-01-27', '2022-01-28',
               '2022-01-29', '2022-01-30'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
#to get the column of the dataframe
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [ ]:
#to give the numpy representation of the data
df.to_numpy()

array([[ 0.43435933, -2.48411786, -0.49801025, -2.37191261],
       [-0.80442702,  0.40129825,  0.50860285,  0.73958486],
       [ 1.17568729, -0.77338691,  0.17556108,  0.14963799],
       [ 0.42772629, -1.0074622 ,  0.39398612, -1.02526301],
       [ 0.82040809,  0.30178112,  2.2721986 , -0.38727953],
       [ 2.7619954 ,  1.4780203 , -0.25128925,  0.15452005],
       [-1.62769998,  0.2926227 ,  0.67351362,  1.17303463],
       [-0.34915264,  0.67785963,  1.33842695,  1.10411471],
       [ 0.39445008,  0.51425313, -0.92615197, -0.26761654],
       [ 0.16868932,  1.52126644,  0.04387893, -0.06078775],
       [ 1.10760373, -0.41780885, -0.97534238, -0.81125878],
       [-1.92687723,  0.97575246,  1.36245002, -0.93901997],
       [ 2.59411095, -1.11795307, -0.95422727,  1.5931675 ],
       [-2.00341498, -0.70864276,  0.67605391, -0.3487826 ],
       [ 1.10054742,  0.6168217 ,  0.41197681,  0.46496592],
       [-1.67638965,  0.9345875 ,  1.10569503,  0.20222027],
       [-1.57621505, -0.3553908 ,  0.14915836, -0.23310524],
       [-0.12362069,  0.4351647 , -1.02729842,  0.72525003],
       [ 0.54085117,  1.00865922, -0.77306133, -0.27625381],
       [-1.58770782,  1.13127646,  1.49813198, -0.832734  ],
       [ 0.56334901, -0.99049885,  0.18850536, -0.74698943],
       [ 1.17207594,  0.88522501, -1.05994673,  0.06585708],
       [ 1.16743893,  0.01455405,  0.24803258,  0.64227313],
       [ 0.1448664 , -0.52426544, -1.26164911, -0.57909232],
       [ 0.43656513, -2.15516522,  1.01683689, -0.34667591],
       [ 0.77002093, -1.94459305,  0.59394567, -0.31483161],
       [ 0.79348576, -0.19013801,  1.53767212,  0.65117481],
       [ 2.05312071, -0.80707989, -0.39329549, -0.06938841],
       [-0.65989169, -0.63409649,  0.77241185, -0.69880404],
       [ 1.41890338, -0.84370924, -0.13941614,  0.84289374]])

In [ ]:
#to describe the data
df.describe()

               A          B          C          D
count  30.000000  30.000000  30.000000  30.000000
mean    0.257029  -0.125506   0.223578  -0.060037
std     1.284464   1.048558   0.916235   0.808291
min    -2.003415  -2.484118  -1.261649  -2.371913
25%    -0.582207  -0.798657  -0.471832  -0.531139
50%     0.435462  -0.087792   0.218269  -0.151247
75%     1.105840   0.662600   0.748322   0.597946
max     2.761995   1.521266   2.272199   1.593168

In [ ]:
from numpy.random import randn 
df=pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())
df

          W         X         Y         Z
A  0.829220 -0.542079  0.828929  0.245152
B -1.238840 -0.785870  0.203432 -0.816262
C  0.455044  0.089552 -0.028809 -0.320817
D -0.835968 -0.714529  0.154097  0.708565
E -0.514134 -0.123124 -0.173374  1.559628

In [ ]:
df['W']

A    0.829220
B   -1.238840
C    0.455044
D   -0.835968
E   -0.514134
Name: W, dtype: float64

In [ ]:
type(df['W'])

pandas.core.series.Series

In [ ]:
df[['W','Z']]

          W         Z
A  0.829220  0.245152
B -1.238840 -0.816262
C  0.455044 -0.320817
D -0.835968  0.708565
E -0.514134  1.559628

In [ ]:
#Creating a new column 
df['New']=df['W']+df['Z']
df

          W         X         Y         Z       New
A  0.829220 -0.542079  0.828929  0.245152  1.074371
B -1.238840 -0.785870  0.203432 -0.816262 -2.055102
C  0.455044  0.089552 -0.028809 -0.320817  0.134227
D -0.835968 -0.714529  0.154097  0.708565 -0.127403
E -0.514134 -0.123124 -0.173374  1.559628  1.045494

In [ ]:
#removing columns
df.drop('New',axis=1)

          W         X         Y         Z
A  0.829220 -0.542079  0.828929  0.245152
B -1.238840 -0.785870  0.203432 -0.816262
C  0.455044  0.089552 -0.028809 -0.320817
D -0.835968 -0.714529  0.154097  0.708565
E -0.514134 -0.123124 -0.173374  1.559628

In [ ]:
df.drop('E',axis=0)

          W         X         Y         Z       New
A  0.829220 -0.542079  0.828929  0.245152  1.074371
B -1.238840 -0.785870  0.203432 -0.816262 -2.055102
C  0.455044  0.089552 -0.028809 -0.320817  0.134227
D -0.835968 -0.714529  0.154097  0.708565 -0.127403

In [ ]:
#Selecting Rows
df.loc['A']

W      0.829220
X     -0.542079
Y      0.828929
Z      0.245152
New    1.074371
Name: A, dtype: float64

In [ ]:
#Selection based on position instead of label
df.iloc[2]

W      0.455044
X      0.089552
Y     -0.028809
Z     -0.320817
New    0.134227
Name: C, dtype: float64

In [ ]:
#Selecting subset of rows and columns
df.loc['B','Y']

0.20343246444605126

In [ ]:
df.loc[['A','B'],['X','Y']]

          X         Y
A -0.542079  0.828929
B -0.785870  0.203432

In [ ]:
df

          W         X         Y         Z       New
A  0.829220 -0.542079  0.828929  0.245152  1.074371
B -1.238840 -0.785870  0.203432 -0.816262 -2.055102
C  0.455044  0.089552 -0.028809 -0.320817  0.134227
D -0.835968 -0.714529  0.154097  0.708565 -0.127403
E -0.514134 -0.123124 -0.173374  1.559628  1.045494

In [ ]:
df>0

       W      X      Y      Z    New
A   True  False   True   True   True
B  False  False   True  False  False
C   True   True  False  False   True
D  False  False   True   True  False
E  False  False  False   True   True

In [ ]:
df[df>0]

          W         X         Y         Z       New
A  0.829220       NaN  0.828929  0.245152  1.074371
B       NaN       NaN  0.203432       NaN       NaN
C  0.455044  0.089552       NaN       NaN  0.134227
D       NaN       NaN  0.154097  0.708565       NaN
E       NaN       NaN       NaN  1.559628  1.045494

In [ ]:
df[df['X']>0]

          W         X         Y         Z       New
C  0.455044  0.089552 -0.028809 -0.320817  0.134227

In [ ]:
df[df['W']>0]['Y']

A    0.828929
C   -0.028809
Name: Y, dtype: float64

In [ ]:
df[df['Y']>0][['Z','New']]

          Z       New
A  0.245152  1.074371
B -0.816262 -2.055102
D  0.708565 -0.127403

In [ ]:
#for two conditions you can use | and &  with parenthesis 
df[(df['W']>0)&(df['Y']>0)]

         W         X         Y         Z       New
A  0.82922 -0.542079  0.828929  0.245152  1.074371

In [ ]:
#Reset to default 0,1...n index
df.reset_index()

  index         W         X         Y         Z       New
0     A  0.829220 -0.542079  0.828929  0.245152  1.074371
1     B -1.238840 -0.785870  0.203432 -0.816262 -2.055102
2     C  0.455044  0.089552 -0.028809 -0.320817  0.134227
3     D -0.835968 -0.714529  0.154097  0.708565 -0.127403
4     E -0.514134 -0.123124 -0.173374  1.559628  1.045494

In [ ]:
#adding new index
newind='CA NY QR CO WY'.split()
df['States']=newind
df

          W         X         Y         Z       New States
A  0.829220 -0.542079  0.828929  0.245152  1.074371     CA
B -1.238840 -0.785870  0.203432 -0.816262 -2.055102     NY
C  0.455044  0.089552 -0.028809 -0.320817  0.134227     QR
D -0.835968 -0.714529  0.154097  0.708565 -0.127403     CO
E -0.514134 -0.123124 -0.173374  1.559628  1.045494     WY

In [ ]:
#creating a new index called States
df.set_index('States',inplace=True)

KeyError: ignored

In [ ]:
df

               W         X         Y         Z       New
States
CA      0.829220 -0.542079  0.828929  0.245152  1.074371
NY     -1.238840 -0.785870  0.203432 -0.816262 -2.055102
QR      0.455044  0.089552 -0.028809 -0.320817  0.134227
CO     -0.835968 -0.714529  0.154097  0.708565 -0.127403
WY     -0.514134 -0.123124 -0.173374  1.559628  1.045494

In [ ]:
#Multi-Index and Index Hierarchy
#Index Levels
outside=['G1','G1','G1','G2','G2','G2']
inside=[1,2,3,1,2,3]
hier_index=list(zip(outside,inside))
hier_index=pd.MultiIndex.from_tuples(hier_index)

In [ ]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [ ]:
df=pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])
df

             A         B
G1 1 -0.654191 -0.470593
   2 -0.663818 -0.897769
   3 -0.505630 -0.384812
G2 1 -1.315988  0.368798
   2 -0.210070 -0.538249
   3  1.869216  0.195668

In [ ]:
df.loc['G1']

          A         B
1 -0.654191 -0.470593
2 -0.663818 -0.897769
3 -0.505630 -0.384812

In [ ]:
df.loc['G2']

          A         B
1 -1.315988  0.368798
2 -0.210070 -0.538249
3  1.869216  0.195668

In [ ]:
df.loc['G1'].loc[1]

A   -0.654191
B   -0.470593
Name: 1, dtype: float64

In [ ]:
df.index.names

FrozenList([None, None])

In [ ]:
df.index.names=['Group','Num']
df

                  A         B
Group Num
G1    1   -0.654191 -0.470593
      2   -0.663818 -0.897769
      3   -0.505630 -0.384812
G2    1   -1.315988  0.368798
      2   -0.210070 -0.538249
      3    1.869216  0.195668

In [ ]:
#xs function return the specified portion from the dataframe
#here the function retuns the value from the index 'G1
df.xs('G1')

            A         B
Num
1   -0.654191 -0.470593
2   -0.663818 -0.897769
3   -0.505630 -0.384812

In [ ]:
df.xs(['G1',1])

A   -0.654191
B   -0.470593
Name: (G1, 1), dtype: float64

In [ ]:
df.xs(1,level='Num')

              A         B
Group
G1    -0.654191 -0.470593
G2    -1.315988  0.368798

In [ ]:
#creating a series
# You can convert a list,numpy array, or dictionary to a Series:
labels=['a','b','c']
my_list=[10,20,30]
arr=np.array([10,20,30])
d={'a':10,'b':20,'c':30}

In [ ]:
#using Lists
pd.Series(data=my_list)

0    10
1    20
2    30
dtype: int64

In [ ]:
pd.Series(data=my_list,index=labels)

a    10
b    20
c    30
dtype: int64

In [ ]:
pd.Series(my_list,labels)

a    10
b    20
c    30
dtype: int64

In [ ]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int64

In [ ]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int64

In [ ]:
#Dictionary
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [ ]:
#Data in a series
#Pand series can hold a vareity of object types:
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

In [ ]:
###Using an index
ser1=pd.Series([1,2,3,4],index=['USA','GERMANY','UK','KOREA'])
ser1

USA        1
GERMANY    2
UK         3
KOREA      4
dtype: int64

In [ ]:
ser2=pd.Series([1,2,4,5],index=['CHINA','GERMANY','COLOMBIA','RUSSIA'])
ser2

CHINA       1
GERMANY     2
COLOMBIA    4
RUSSIA      5
dtype: int64

In [ ]:
ser1['USA']

1

In [ ]:
#Operations are also done based on the index
ser1+ser2

CHINA       NaN
COLOMBIA    NaN
GERMANY     4.0
KOREA       NaN
RUSSIA      NaN
UK          NaN
USA         NaN
dtype: float64

In [ ]:
#missing data
df=pd.DataFrame({'A':[1,2,np.nan],
                 'B':[5,np.nan,np.nan],
                 'C':[1,2,3]})
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [ ]:
df.dropna()

     A    B  C
0  1.0  5.0  1

In [ ]:
df.dropna(axis=1)

   C
0  1
1  2
2  3

In [ ]:
#thresh takees integer value which tells minimum amount of na values to drop.
df.dropna(thresh=2)

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2

In [ ]:
df.fillna(value='FILL VALUE')

            A           B  C
0           1           5  1
1           2  FILL VALUE  2
2  FILL VALUE  FILL VALUE  3

In [ ]:
df['A'].fillna(value=df['A'].mean())

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64

In [ ]:
#Group by
#Create DataFrames
data={'Brand':['NIKE','USPA','WOODLAND','UCB','PUMA','UCB'],
      'Person':['James','Amy','Charlie','Sarah','John','Jim'],
      'Sales':[200,250,180,150,350,248]      
      }
df=pd.DataFrame(data)
df

      Brand   Person  Sales
0      NIKE    James    200
1      USPA      Amy    250
2  WOODLAND  Charlie    180
3       UCB    Sarah    150
4      PUMA     John    350
5       UCB      Jim    248

In [ ]:
df.groupby('Brand')

In [ ]:
by_brand=df.groupby('Brand')

In [ ]:
by_brand

In [ ]:
by_brand.mean() #takes mean of two same brand

          Sales
Brand
NIKE        200
PUMA        350
UCB         199
USPA        250
WOODLAND    180

In [ ]:
#more examples of aggregate methods
by_brand.std()

              Sales
Brand
NIKE            NaN
PUMA            NaN
UCB       69.296465
USPA            NaN
WOODLAND        NaN

In [ ]:
df.min()

Brand     NIKE
Person     Amy
Sales      150
dtype: object

In [ ]:
by_brand.min()

           Person  Sales
Brand
NIKE        James    200
PUMA         John    350
UCB           Jim    150
USPA          Amy    250
WOODLAND  Charlie    180

In [ ]:
by_brand.max()

           Person  Sales
Brand
NIKE        James    200
PUMA         John    350
UCB         Sarah    248
USPA          Amy    250
WOODLAND  Charlie    180

In [ ]:
by_brand.count()

          Person  Sales
Brand
NIKE           1      1
PUMA           1      1
UCB            2      2
USPA           1      1
WOODLAND       1      1

In [ ]:
by_brand.describe()

         Sales
         count   mean        std    min    25%    50%    75%    max
Brand
NIKE       1.0  200.0        NaN  200.0  200.0  200.0  200.0  200.0
PUMA       1.0  350.0        NaN  350.0  350.0  350.0  350.0  350.0
UCB        2.0  199.0  69.296465  150.0  174.5  199.0  223.5  248.0
USPA       1.0  250.0        NaN  250.0  250.0  250.0  250.0  250.0
WOODLAND   1.0  180.0        NaN  180.0  180.0  180.0  180.0  180.0

In [ ]:
by_brand.describe().transpose()

Brand         NIKE   PUMA         UCB   USPA  WOODLAND
Sales count    1.0    1.0    2.000000    1.0       1.0
      mean   200.0  350.0  199.000000  250.0     180.0
      std      NaN    NaN   69.296465    NaN       NaN
      min    200.0  350.0  150.000000  250.0     180.0
      25%    200.0  350.0  174.500000  250.0     180.0
      50%    200.0  350.0  199.000000  250.0     180.0
      75%    200.0  350.0  223.500000  250.0     180.0
      max    200.0  350.0  248.000000  250.0     180.0

In [ ]:
by_brand.describe().transpose()['UCB']

Sales  count      2.000000
       mean     199.000000
       std       69.296465
       min      150.000000
       25%      174.500000
       50%      199.000000
       75%      223.500000
       max      248.000000
Name: UCB, dtype: float64

In [ ]:
df=pd.DataFrame({'col1':[1,2,3,4],
                 'col2':[222,333,444,555],
                 'col3':['abc','def','ghi','jkl']
    
})

In [ ]:
df.head()

   col1  col2 col3
0     1   222  abc
1     2   333  def
2     3   444  ghi
3     4   555  jkl

In [ ]:
df['col2'].unique()

array([222, 333, 444, 555])

In [ ]:
df['col2'].value_counts()

222    1
333    1
444    1
555    1
Name: col2, dtype: int64

In [ ]:
#select from DataFrame using criteria from multiple columns
newdf=df[(df['col1']>2)&(df['col2']==444)]
newdf

   col1  col2 col3
2     3   444  ghi

In [ ]:
df['col3'].apply(len)

0    3
1    3
2    3
3    3
Name: col3, dtype: int64

In [ ]:
df['col1'].sum()

10

In [ ]:
#permanently removing a column
del df['col1']
df

   col2 col3
0   222  abc
1   333  def
2   444  ghi
3   555  jkl

In [ ]:
df.columns

Index(['col2', 'col3'], dtype='object')

In [ ]:
df.index

RangeIndex(start=0, stop=4, step=1)

In [ ]:
df

   col2 col3
0   222  abc
1   333  def
2   444  ghi
3   555  jkl

In [ ]:
df.sort_values(by='col2')#inplace=False by default

   col2 col3
0   222  abc
1   333  def
2   444  ghi
3   555  jkl

In [ ]:
#find null values or check for null values
df.isnull()

    col2   col3
0  False  False
1  False  False
2  False  False
3  False  False

In [ ]:
#drop rows with Nan Values
df.dropna()

   col2 col3
0   222  abc
1   333  def
2   444  ghi
3   555  jkl

In [ ]:
df=pd.DataFrame({'col1':[1,2,3,np.nan],
                 'col2':[np.nan,555,666,444],
                 'col3':['abc','def','ghi','xyz']

})
df.head()

   col1   col2 col3
0   1.0    NaN  abc
1   2.0  555.0  def
2   3.0  666.0  ghi
3   NaN  444.0  xyz

In [ ]:
df.fillna('FILL')

   col1  col2 col3
0     1  FILL  abc
1     2   555  def
2     3   666  ghi
3  FILL   444  xyz